body {
background-color: white;
}

p {
color: black;
}


h2 {
    color : black;
}

h2:hover {
    color: red;
    transition: 1.5s;    
}
h1 {
    color: black;
}

img  {
    height: 150px;
    width: 150px;
    border-radius: 10px;
}


.arrow-next {
    font-size: 5em;
    margin: 0;
    cursor: pointer;
}
