body {
background-color: rgb(0, 0, 0);
}

p {
color: rgb(255, 255, 255);
}


h2 {
    color : rgb(255, 255, 255);
}

h1 {
    color: rgb(255, 255, 255);
}

img  {
    height: 150px;
    width: 150px;
}
