body {
background-color: white;
}

p {
color: black;
}


h2 {
    color : black;
}

h2:hover {
    color: red;
    transition: 1.5s;    
}
h1 {
    color: black;
}

img  {
    height: 150px;
    width: 150px;
    border-radius: 10px;
}

header {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
url('https://images.tynker.com/blog/wp-content/uploads/202504120809/robloxxpg-1.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  padding: 60px 20px;
  min-height: 300px;  
  color: white; 
}

body.dark {
  background-color: #121212;
  color: white;
}

body.dark h1,
body.dark h2,
body.dark p,
body.dark li {
  color: white;
}

button {
  border: none;
  border-radius: 6px;
  background: #5865f2;
  color: white;
}
